node_modules/
dist/
.xrblocks-devtools/
artifacts/
*.log
.DS_Store
.env
.env.local

generated/
xr-test-artifacts/
examples/**/artifacts/
examples/**/node_modules/
examples/**/vendor/
examples/**/dist/
